@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<div style="background-color:darkgray;margin-top:80px" class="container">
            <ul class="nav nav-pills">
                <li role="presentation"><a href="#">Home</a></li>
                <li role="presentation"><a href="#">Products</a></li>
                <li role="presentation"><a href="#">About Us</a></li>
                <li role="presentation"><a href="customcontact">Contact Us</a></li>
            </ul>
        </div>